<div class="container">
  <button type="button" class="btn btn-primary m-3 p-2" (click)="agregar()">Agregar</button>
  <br>
  <h2 class="bg-dark text-white text-center m-2 p-2">Transacciones</h2>

  <div class="btn-toolbar text-center justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button class="btn btn-info" (click)="obtenerTransaccion()">RECUPERAR TODOS</button>
    </div>
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button class="btn btn-info" (click)="recuperarPorDivisas()">RECUPERAR POR FILTRO</button>
    </div>
  </div>

  <div class="mb-3">
    <label for="monedaOrigen" class="form-label">Moneda de Origen</label>
    <select class="form-select" aria-label="Default select example" name="monedaOrigen" [(ngModel)]="monedaOrigen">
      <option selected>Elegir</option>
      <option value="NZD">NZD</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="monedaDestino" class="form-label">Moneda de destino</label>
    <select class="form-select" aria-label="Default select example" name="monedaDestino" [(ngModel)]="monedaDestino">
      <option selected>Elegir</option>
      <option value="NZD">NZD</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
    </select>
  </div>

  <ul class="list-group">
    <li *ngFor="let transaccion of transaccion" class="list-group-item">
   <!--{{ transaccion.monedaOrigen }} {{ transaccion.cantidadOrigen }} -> {{ transaccion.monedaDestino }} {{ transaccion.cantidadDestino }} (Tasa: {{ transaccion.tasaConversion }})
    -->
      <table class="table table-dark table-striped">
        <tbody>
          <tr>
            <td>{{transaccion.monedaOrigen}}</td>
            <td>{{transaccion.cantidadOrigen}}</td>
            <td>{{transaccion.monedaDestino}}</td>
            <td>{{transaccion.cantidadDestino}}</td>
            <td>{{transaccion.emailCliente}}</td>
            <td> {{transaccion.tasaConversion}} </td>
            <td>       
              <button type="button" class="btn btn-warning m-1" (click)="modificar(transaccion._id)">Modificar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>