<nav class="navbar navbar-expand-lg bg-dark-subtle mt-2 mb-1">
    <div class="container-fluid">
      
      <a class="navbar-brand mx-3">TP-Backend y Frontend</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a routerLink="./punto1" class="nav-link mx-3">PUNTO 1 </a>
          </li>

          <li class="nav-item">
            <a routerLink="./punto2" class="nav-link mx-3">PUNTO 2 </a>
          </li>

          <li class="nav-item">
            <a routerLink="./punto3" class="nav-link mx-3">PUNTO3 </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>